.container{
    background-color:grey;
    box-shadow:blue;
    background-color:rgb(12, 197, 197);
    text-align:center;
   margin:80px;
   border-radius:20px;
    
    

}

.btnSubmit{
    color:rgb(0, 0, 0);
    border-radius: 10px;
    width:80px;
    height: 40px;
}
.btnSubmit:hover{
    background-color: gold;
    box-shadow: gold;
}
.heading{
    color:rgb(14, 11, 11);
    size:80px;
    text-align:center;
    justify-content:center;
    align-items:center;
    font-family:'Courier New', Courier, sans-serif;

}
